<?xml version="1.0" encoding="UTF-8"?>
	<configuration>
    <property name="LOGS" value="/opt/billing/logs/" />
    <appender name="stdout"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="saveFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/billingcore.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">          
            <fileNamePattern>${LOGS}/archived/billingcore-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

<springProfile name="test">
	<root level="info">
        <appender-ref ref="stdout" />
        <appender-ref ref="saveFile" />
    </root>
</springProfile>

<springProfile name="local | dev">
	<root level="DEBUG">
      <appender-ref ref="CONSOLE" />      
    </root>
</springProfile>
    <!-- LOG everything at INFO level -->
    
    <!-- LOG "com.sbd.vent.service.*" at DEBUG level -->
    <!--logger name="com.sbd.billingcore" level="debug" additivity="false">
        <appender-ref ref="stdout" />
        <appender-ref ref="saveFile" />
    </logger-->
    <root level="info">
        <appender-ref ref="stdout" />
        <appender-ref ref="saveFile" />
    </root>
</configuration>


